name: Build and Release

on:
  workflow_dispatch: # Manual Trigger
  push:
    tags:
      - "v*" # Trigger on tags like v1.0, v1.0.1

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true
          cache-dependency-glob: "requirements.txt"

      - name: Set up Python
        run: uv python install 3.13.5

      - name: Install Dependencies
        run: uv pip install --system -r requirements.txt

      - name: Build and Zip
        run: python build_release.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: SupabaseBackupTool.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
